body{
    width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    justify-items: center;
}
#cherries{
    width: 400px;
}
#gray{
    width: 400px;
    background-color: gray;
}
h2{
    color: crimson;
    position: absolute;
    left: 490px;
    top: 250px;
    letter-spacing: 10px;
    font-size: 40px;
}
h1{
    font-size: 80px;
    font-weight: bold;
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 90px;
    letter-spacing: 10px;
}